#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.dll
*.dll

*.obj
*.exe
*.pdb
*.tlb
*.tlh
*.lib
[Tt]est[Rr]esult*
packages/Common.Logging.2.1.2/Common.Logging.2.1.2.nupkg
packages/Common.Logging.2.1.2/Common.Logging.2.1.2.nuspec
packages/Common.Logging.2.1.2/lib/net35/Common.Logging.xml
packages/Common.Logging.2.1.2/lib/net40/Common.Logging.xml
packages/CommonServiceLocator.1.0/CommonServiceLocator.1.0.nupkg
packages/CommonServiceLocator.1.0/CommonServiceLocator.1.0.nuspec
packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.XML
packages/CommonServiceLocator.1.0/lib/SL30/Microsoft.Practices.ServiceLocation.XML
packages/EntityFramework.5.0.0/Content/App.config.transform
packages/EntityFramework.5.0.0/Content/Web.config.transform
packages/EntityFramework.5.0.0/EntityFramework.5.0.0.nupkg
packages/EntityFramework.5.0.0/EntityFramework.5.0.0.nuspec
packages/EntityFramework.5.0.0/lib/net40/EntityFramework.xml
packages/EntityFramework.5.0.0/lib/net45/EntityFramework.xml
packages/EntityFramework.5.0.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.5.0.0/tools/EntityFramework.PS3.psd1
packages/EntityFramework.5.0.0/tools/EntityFramework.psd1
packages/EntityFramework.5.0.0/tools/EntityFramework.psm1
packages/EntityFramework.5.0.0/tools/init.ps1
packages/EntityFramework.5.0.0/tools/install.ps1
packages/EntityFramework.5.0.0/tools/Redirect.config
packages/EntityFramework.5.0.0/tools/Redirect.VS11.config
packages/FluentAssertions.2.1.0.0/FluentAssertions.2.1.0.0.nupkg
packages/FluentAssertions.2.1.0.0/FluentAssertions.2.1.0.0.nuspec
packages/FluentAssertions.2.1.0.0/lib/net35/FluentAssertions.xml
packages/FluentAssertions.2.1.0.0/lib/net40/FluentAssertions.xml
packages/FluentAssertions.2.1.0.0/lib/net45/FluentAssertions.xml
packages/FluentAssertions.2.1.0.0/lib/sl4-windowsphone71/FluentAssertions.WindowsPhone.xml
packages/FluentAssertions.2.1.0.0/lib/sl4/FluentAssertions.Silverlight.xml
packages/FluentAssertions.2.1.0.0/lib/sl4/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.xml
packages/FluentAssertions.2.1.0.0/lib/winrt45/FluentAssertions.xml
packages/Highway.Data.4.0.4.1/Highway.Data.4.0.4.1.nupkg
packages/Highway.Data.4.0.4.1/Highway.Data.4.0.4.1.nuspec
packages/Highway.Data.4.0.4.1/lib/net40/Highway.Data.xml
packages/Highway.Data.EntityFramework.4.0.4.1/Highway.Data.EntityFramework.4.0.4.1.nupkg
packages/Highway.Data.EntityFramework.4.0.4.1/Highway.Data.EntityFramework.4.0.4.1.nuspec
packages/Highway.Data.EntityFramework.4.0.4.1/lib/net40/Highway.Data.EntityFramework.xml
packages/repositories.config
packages/RhinoMocks.3.6.1/lib/net/Rhino.Mocks.xml
packages/RhinoMocks.3.6.1/RhinoMocks.3.6.1.nupkg
packages/RhinoMocks.3.6.1/RhinoMocks.3.6.1.nuspec
